@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Press+Start+2P&display=swap');

@font-face {
	font-family: "Mode Seven";
	src: url("/pages/assets/Modeseven.ttf");
}

:root {
  --app-height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
}

.wrap800 {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

section {
	width: 100vw;
	padding: 1rem;
	background: #0c0c0c;
	box-sizing: border-box;
}

section .content {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: var(--app-height);
  white-space: pre-line;
}

h1 {
	font-family: 'Mode Seven', monospace;
	font-size: 1.6rem;
	line-height: 2rem;
	margin: 0;
	color: #eaeae8;
}

span {
	font-family: 'Mode Seven', monospace;
	font-size: 1rem;
	line-height: 1.2rem;
	margin: 0;
	color: #eaeae8;
}

span::after { 
  display:none; 
}
