@font-face {
	font-family: "Mode Seven";
	src: local('Pacifico-Regular'), url("https://jacknotman.github.io/pages/assets/Modeseven.ttf");
	font-display: swap;
}

:root {
  --app-height: 100%;
}

html, body {
	margin: 0;
	padding: 0;
}

.wrap800 {
	max-width: min(100vw, 32rem);
	margin: 0 auto;
}

section {
	width: 100vw;
	padding: 1rem;
	background: #0c0c0c;
	box-sizing: border-box;
}

section .content {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: var(--app-height);
  white-space: pre-line;
}

h1 {
	font-family: 'Mode Seven', monospace;
	font-size: 1.6rem;
	margin: 0;
	color: #eaeae8;
}

h2 {
	font-family: 'Mode Seven', monospace;
    font-size: 0.75rem;
    line-height: 1rem;
    margin: 0;
    color: #eaeae8;
}

div.terminal {
	color: #eaeae8;
}

span {
	font-family: 'Mode Seven', monospace;
	font-size: 1rem;
	line-height: 1.2rem;
	margin: 0;
	color: inherit;
}

span::after { 
  display:none; 
}

.video {
	font-size: min(calc(100vw / 64), 0.5rem);
    display: flex;
    flex-wrap: wrap;
    width: min(calc(100vw - 2rem), 32rem);
}

.video span {
	font-size: 133%;
    line-height: inherit;
    width: min(calc((100vw - 2rem) / 64), 0.5rem);
	height: min-content;
    max-height: min(calc((100vw - 2rem) / 64), 0.5rem);
}

